<h4>会員一覧</h4>

<table>
	<tr>
		<th>会員ID</th>
		<th>氏名</th>
		<th>メールアドレス</th>
		<th>ステータス</th>
	</tr>
	<% @customers.each do |customer| %>
	<tr>
		<td><%= customer.id %></td>
	</tr>
	<tr>
		<td><%= link_to customer.first_name + customer.last_name, admin_customer_path(customer.id) %></td>
	</tr>

	<tr>
		<td><%= customer.email %></td>
	</tr>

	<tr>
		<td><%= customer.is_active %></td>
	</tr>



	<% end %>


</table>