<div class="container-box">
	<div class="row">
		<div class="col-lg-12">
				<h3 class="complete"><strong>NAGANO CAKE でのお買い上げありがとうございます！</strong></h3>
				<p class="complete-title">〜ご注文を承りました。発送手続きに入ります。引続きショッピングをお楽しみ下さい。〜</p>
		</div>
	</div>
