// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// select ボックス
select {
    vertical-align: middle;
    font-size: 15px;
    padding: 8px;
    width: 300px;
}

.product-image-admin{
	height: 250px;
	width: 100%;
	margin: 0 0;
}