<div class="container">
	<h2 style="margin-bottom: 30px;"><span class="head-text">ようこそ、NaganoCakeへ！</span></h2>
	<div class="row">
		<div class="col-lg-12">
			<p>■このサイトについて</p>
		    <p>このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。
			</p>
			<p>■店舗情報</p>
			<p>住所：長野県<br>
			   お問い合わせ先：チーム女子力
			</p>
		</div>
	</div>
</div>
