<div class="container">
  <h4 style="margin-bottom: 30px;margin-top: 100px">
    <span class="head-text">会員の方はこちらからログイン</span>
  </h4>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-lg-3">
          <p>メールアドレス</p>
        </div>
        <div class="col-lg-9">
           <%= f.email_field :email, autocomplete: "off", style:"width:100%" %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <p>パスワード</p>
        </div>
        <div class="col-lg-9">
          <%= f.password_field :password, autocomplete: "new-password", style:"width:100%" %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <p style="float: right;color: blue;border-bottom: 1px solid blue;font-size:13px">
            => パスワードを忘れた方はこちら
          </p>
        </div>
      </div>

       <div style="text-align: center">
          <%= f.submit "ログイン",class:"btn btn-primary",
              style:"padding:5px 30px;margin-bottom:30px " %>
       </div>
      <% end %>
    </div>
  </div>

  <h4 style="margin-top: 30px"><span class="head-text">登録がお済みでない方</span></h4>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <p style="padding-left: 20px">
        <a href="/customers/sign_up", style="color: blue; border-bottom: 1px solid blue">
          こちら</a>
          から新規登録を行ってください。
      </p>
    </div>
  </div>
</div>