// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-image{
	background-image: url(top_page.jpg);
	background-size: cover;
	width: 80%;
	height: 350px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.top-text{
	font-size:18px;
	color: black;
	background: rgba(white,0.5)
}