// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.complete{
 font-size:40px;
 padding:50px;
 margin-top:200px;
 text-align: center;
 }
 .complete-title{
 text-align: center;
 font-size:20px;
 }
 .container-box{
 height:800px;
 background-image: url(complete.jpg);
 background-size: cover;
 background-position: center;
 }
